# dependencies
node_modules/
.pnp
.pnp.js

# bun
bun.lockb

# next.js
apps/web/.next/
apps/web/out/
apps/web/next-env.d.ts

# builds
dist/
build/

# env
.env
.env*.local

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
*.tsbuildinfo
.turbo/
